.note {
  width: 15vw;
  margin: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  float: left;
}

.note h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1vw;
  margin-bottom: 5px;
}

.note p {
  margin-bottom: 10px;
  font-size: 1.1vw;
  font-family: "Montserrat", sans-serif;
}

.note > button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  background-color: white;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
